<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
{% include"header.html" %}

<body style="background-color: #de211d;">
    <h1 class="title">welcome to YtBuddy!</h1>
    <div class="description-div">
        <p class="desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, adipisci vero officiis possimus
            ea
            assumenda, fugiat delectus quasi, sequi tempora placeat repellat consequuntur dolor aliquam magni sed cumque
            quidem. Repudiandae.</p>
        <p class="desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, adipisci vero officiis possimus
            ea
            assumenda, fugiat delectus quasi, sequi tempora placeat repellat consequuntur dolor aliquam magni sed cumque
            quidem. Repudiandae.</p>
    </div>
    <div class="form-input">
        <form action="/result" method="post">
            <label for="channle" class="input-lable"><strong>Enter url to yt channle</strong></label><br>
            <input type="text" id="text" name="text" required><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
{% include "footer.html" %}